* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.userCard{
     min width: 220px;
    max width: 400px;
    width: 100%;
    height: 150px;
    background-color: grey;
    overflow: hidden;
    border-radius: 5px;

}
   

.userImageContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.userImageContainer > img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.userInfoContainer{
    padding: 20px;
    height: 150px;

}

.userStateItem{
    display: inline-block;
}

.userCard > * {
    display: inline-block;
    vertical-align: top;
}