* {
  background-color: rgb(250, 250, 141);
}
.userCard {
  text-align: center;
  border: 2px solid black;
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  position: relative;
  display: block;
  background-color: white;
  height: 400px;
  width: 300px;
  left: 200px;
  top: 50px;
}
.userInfoContainer {
  background-color: white;
}
